// Main SCSS file for rpi-camera-stream
// Compiles to: src/rpi_camera_stream/static/css/main.css

// Variables (using @use instead of deprecated @import)
@use 'variables' as *;

// Example custom styles
body {
  // Your custom styles here
}

// Width utility classes
.w-full {
  width: 100%;
} 

// Width fractions (1/20 through 19/20) 
.w-1-20 { width: 5%; }
.w-2-20 { width: 10%; }
.w-3-20 { width: 15%; }
.w-4-20 { width: 20%; }
.w-5-20 { width: 25%; }
.w-6-20 { width: 30%; }
.w-7-20 { width: 35%; }
.w-8-20 { width: 40%; }
.w-9-20 { width: 45%; }
.w-10-20 { width: 50%; }
.w-11-20 { width: 55%; }
.w-12-20 { width: 60%; }
.w-13-20 { width: 65%; }
.w-14-20 { width: 70%; }
.w-15-20 { width: 75%; }
.w-16-20 { width: 80%; }
.w-17-20 { width: 85%; }
.w-18-20 { width: 90%; } 
.w-19-20 { width: 95%; }

// You can also import Pico CSS if needed:
// @use '../vendor_packages/pico-main/scss/pico';
 